.container{
  text-align: center;
  margin: 50px;
  width: 230px;
  height: 500px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(54, 54, 87);
}

.buttons{
  margin: 2px;
  padding: 2px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 7px;
}
